.trainer__slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.trainer__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  padding-bottom: 40px;

  gap: 20px;
  touch-action: pan-y;
  user-select: none;
  transition: all 0.3s ease;
}

.trainer__card {
  width: 220px;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.trainer__card--img {
  width: 100%;
  aspect-ratio: 0.7/1;

  object-fit: cover;
  pointer-events: none;

  border-radius: 20px;
  margin-bottom: 20px;
}

.trainer__card--info {
  width: 100%;
  display: flex;
  flex-direction: column;

  flex-grow: 1;
}

.trainer__card--info--name {
  font-size: var(--font--size--text);
  font-weight: 600;
  line-height: 160%;

  margin-bottom: 10px;
}

.trainer__card--info--text {
  font-size: var(--font--size--small);
  color: var(--color--text--grey);
  line-height: 160%;

  margin-bottom: 20px;
}

.trainer__card--info--link {
  margin-top: auto;
  align-self: flex-start;

  line-height: 160%;
  color: var(--color--red);

  background-color: var(--color--white);
  padding: 2px 10px;
  border-radius: 10px;
  border: none;

  margin-top: auto;
  transition: all 0.3s ease;
}
.trainer__card--info--link:hover,
.trainer__card--info--link:focus {
  color: var(--color--white);

  background-color: var(--color--red);
}

.trainer__line {
  width: 100%;
  height: 5px;
  background-color: #ececed;
  border-radius: 10px;

  position: relative;
}

.trainer__line--active {
  width: 10%;
  height: 5px;
  border-radius: 10px;
  background-color: var(--color--dark);

  position: absolute;
  top: 0;
  left: 0;

  transition: all 0.3s ease;
}

.trainer__btns {
  position: absolute;
  bottom: 0;
  right: 0;

  display: none;
  gap: 10px;
  z-index: 100;
}

.trainer__btn {
  width: 40px;
  height: 40px;
  background-color: var(--color--dark);
  border: none;
  border-radius: 50%;

  color: var(--color--white);
  font-weight: 900;
  font-size: 20px;

  transition: all 0.3s ease;
}

.trainer__btn:hover,
.trainer__btn:focus {
  background-color: var(--color--red);
}

.splide__arrows {
  position: absolute;
  bottom: -50px;
  right: 60px;
  width: 100px;
  height: 50px;
}
.splide__arrow {
  background: var(--color--dark) !important;
  opacity: 1 !important;
  height: 3em !important;
  width: 3em !important;

  position: absolute !important;
  top: 0 !important;
  transform: none !important;

  border: 2px solid var(--color--dark) !important;
}
.splide__arrow:hover,
.splide__arrow:focus {
  background-color: var(--color--red) !important;
  outline: none !important;
}

.splide__arrow svg {
  fill: var(--color--white) !important;
  height: 2.2em !important;
  width: 2.2em !important;
}

.splide__arrow--next {
  right: 0 !important;
}

.splide__arrow--prev {
  left: 0 !important;
}
.splide__arrow--next,
.splide__arrow--prev {
  display: none !important;
}

ul.splide__pagination {
  width: 100% !important;
  max-width: 100% !important;
  display: flex !important;
  padding: 0 !important;
  margin: 0 !important;
  gap: 0 !important;

  position: absolute !important;
  bottom: -20px !important;
  left: 0 !important;
  right: 0 !important;

  pointer-events: none !important;
}

ul.splide__pagination li {
  flex: 1 !important;
  display: block !important;
  margin: 0 !important;
  padding: 0 !important;
}

ul.splide__pagination li button {
  width: 100% !important;
  height: 4px !important; /* Толщина полосы */
  border-radius: 0 !important; /* Убираем кружки */
  background: rgba(0, 0, 0, 0.2) !important; /* Неактивный цвет */
  opacity: 1 !important;
  padding: 0 !important;
  margin: 0 !important;
  transform: none !important; /* Сброс стандартной анимации Splide */
  transition: background-color 0.3s ease !important;
}

ul.splide__pagination li button.is-active {
  background: var(--color--dark, #000) !important;
  border-radius: 10px !important;
  transform: none !important;
}

@media (min-width: 768px) {
  .trainer__btns {
    display: flex;
  }

  .trainer__line {
    max-width: 360px;
  }
  .trainer__list {
    padding-bottom: 60px;
  }
}
@media (min-width: 1024px) {
  ul.splide__pagination {
    width: 400px !important;
  }
  .trainer__list {
    padding-bottom: 100px;
  }

  .trainer__card {
    width: 360px;
  }
  .splide__arrow--next,
  .splide__arrow--prev {
    display: block !important;
  }

  .trainer__card--info {
    width: 100%;
    height: 100%;
  }

  .trainer__card--info--name {
    font-size: var(--font--size--h-s);
  }

  .trainer__card--info--text {
    font-size: var(--font--size--form);
  }
  .trainer__card--info--link {
    font-size: var(--font--size--form);
  }
}
